Flask>=2.3.3
Werkzeug>=2.3.7
requests>=2.31.0
python-dotenv>=1.0.0
gunicorn>=21.2.0
pymongo>=4.6.1
redis>=5.0.1
celery>=5.3.6
SQLAlchemy>=2.0.23
psycopg2-binary>=2.9.9
flask-sqlalchemy>=3.0.0
bootstrap-flask>=2.0.0
flask-paginate
plexapi>=4.15.4
tzlocal
Pillow>=10.1.0
opencv-python>=4.8.1
imagehash>=4.3.1
pymediainfo>=6.1.0
python-tautulli>=0.1.0
